.s-hero {
    background: #eee;
    position: relative;
    width: 100%;
    height: 500px;
}

.s-hero__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    font-family: 'object-fit: cover';
    opacity: 0;
    transition: opacity 0.5s ease-in-out;

    &.lazyloaded {
        opacity: 1;
    }
}

.s-hero-content {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}

.s-hero__title {
    text-align: center;
    font-size: 50px;
}

.s-hero__subtitle {
    text-align: center;
    font-size: 30px;
    margin-top: 30px;
}

.s-hero__cta {
    text-align: center;
    width: 100%;
    margin-top: 30px;
    .button {
        display: inline-block;
        font-size: 20px;
        padding: 15px;
        background-color: gold;
        color: #fff;
        text-decoration: none;
        transition: all 150ms ease;
        &:hover {
            padding: 15px 25px;
        }
    }
}
