.s-tab__head {
    list-style: none;
    @include breakpoint('mobile', true) {
        li {
            display: block;
        }
        margin-left: 0;
    }
}

.s-tab__button, .s-tab__content {
    border: 1px solid black;
}

.s-tab__button {
    background-color: transparent;
    padding: 8px 20px;
    margin-left: -1px;
    outline: 0;
    &.is-active {
        &:after {
            content: '';
            display: block;
            position: absolute;
            background-color: white;
            z-index: 1;
        }
    }
    @include breakpoint('mobile', true) {
        width: 100%;
        margin: 0;
        border-bottom: 0;
        &.is-active {
            &:after {
                display: none;
            }
        }
    }
}

.s-tab__content {
    padding: 20px;
}

.s-tab__content-inner {
    opacity: 0;
    display: none;
    &:nth-child(1) {
        opacity: 1;
        display: block;
    }
}
