@import '../component/component';

.s-tab--default {
    .s-tab__head {
        margin-left: 1px;
    }
    .s-tab__button {
        margin-left: -1px;
        &.is-active {
            &:after {
                left: 0px;
                right: 0px;
                bottom: -1px;
                height: 1px;
            }
        }
    }

    .s-tab__content {
        margin-top: -1px;
    }

    @include breakpoint('mobile', true) {
        .s-tab__head, .s-tab__button {
            margin: 0;
        }
    }
}
