// Reset form styling
// --------------
.s-form__label {
    display: inline-block;
}

.s-form__input {
    display: block;
    width: 100%;
}
.s-form__textarea {
    resize: vertical;
}

// Custom styling
// --------------
.s-form {
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}
.s-form--float {
    .s-form-group {
        position: relative;
        margin-bottom: 45px;
    }
    .s-form__input {
        padding: 10px 0;
        border: none;
        border-bottom: 1px solid rgb(200, 200, 200);
        outline: none;
        line-height: normal;
    }
    .s-form__label {
        width: 100%;
        padding: 10px 0;
        position: absolute;
        top: 0; left: 0; right: 0; bottom: 0;
        line-height: normal;
        pointer-events: none;
        transition: all 250ms ease;
        will-change: transform, font-size;
    }
    .s-form__label--active {
        transform: translateY(-25px);
        font-size: 70%;
    }
    .s-form__textarea {
        min-height: 200px;
        height: 200px;
    }
    .s-btn {
        display: block;
        padding: 5px 10px;
        background: #fff;
        border: 1px solid rgb(200, 200, 200);
        @include on-event {
            border-color: rgb(150,150,150);
        }
    }
}
