// Reset form styling
// --------------
.s-form__label {
    display: inline-block;
}

.s-form__input {
    display: block;
    width: 100%;
}
.s-form__textarea {
    resize: vertical;
}

// Custom styling
// --------------
.s-form {
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}

.s-form--line {
    .s-form-group {
        margin-bottom: 35px;
        position: relative;
    }
    .s-form__input {
        padding: 10px;
        border: 1px solid rgb(200, 200, 200);
        outline: none;
        &:focus {
            border-color: rgb(150,150,150);
        }
    }
    .s-form__label {
        background-color: #fff;
        padding: 0 5px;
        position: absolute;
        top: 0; left: 0;
        transform: translate(5px, -60%);
        line-height: 1;
        text-transform: uppercase;
        letter-spacing: 2pt;
        font-size: 80%;
    }
    .s-form__textarea {
        min-height: 200px;
        height: 200px;
    }
    .s-btn {
        display: block;
        padding: 5px 10px;
        background: #fff;
        border: 1px solid rgb(200, 200, 200);
        @include on-event {
            border-color: rgb(150,150,150);
        }
    }
}
