@import '../component/component';

.s-tab--vertical {
    .s-tab__head {
        li {
            margin-left: 1px;
            margin-right: -1px;
            @include breakpoint(500px, true) {
                margin: 0;
            }
        }
    }
    .s-tab__button {
        box-sizing: border-box;
        width: 100%;
        margin-top: -1px;
        border-right: 0;
        &.is-active {
            &:after {
                right: -1px;
                top: 0;
                bottom: 0px;
                width: 1px;
            }
        }
        @include breakpoint('mobile', true) {
            border-right: 1px solid black;
        }
    }

    .s-tab__content {
        margin-top: -1px;
    }
}
