// -----------------------------------------------------------------------------
// This file contains styles that are specific to the home page.
// -----------------------------------------------------------------------------

// Variables

// Typography
.site-wrapper {
    font-family: $c-fontstack-default;
    color: $c-color-text;
    text-align: center;
}

.s-bold {
    // font-family: $c-fontstack-bold;
}

.s-link {
    color: $c-color-text;
    text-decoration: none;
    border-bottom: 1px solid $c-color-text;
    padding-bottom: 2px;
    transition: all 150ms ease;
    position: relative;
    &:after {
        content: '';
        position: absolute;
        bottom: -1px;
        left: 0;
        height: 1px;
        width: 0;
        background-color: $c-color-text;
        transition: width 300ms ease;
    }
    @include on-event {
        &:after {
            width: 100%;
        }
    }
}

.s-link--blank {
    border-color: transparent;
}

// Helpers
.s-important {
    font-size: 150%;
}
.s-spacer {
    width: 100%;
}
.s-spacer--small {
    height: 40px;
}
.s-spacer--default {
    height: 60px;
}
.s-spacer--large {
    height: 90px;
    @include breakpoint(wide) {
        height: 120px;
    }
}
.list-unstyled {
    list-style: none;
    padding-left: 0;
}
.s-divider {
    height: 1px;
    border: none;
    background-color: $c-color-text;
    width: 40px;
    margin: 0 auto;
}

// Header
.s-logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

// Footer
.s-footer {
    font-size: 12px;
}


// Page
.site-wrapper {
    opacity: 0;
    transform: translateY(10px);
    padding: 50px 0 35px 0;
    @include breakpoint(tablet) {
        padding: 80px 0 50px 0;
    }
    @include breakpoint(desktop) {
        padding: 120px 0 50px 0;
    }
    @include breakpoint(wide) {
        padding: 150px 0 50px 0;
    }
}

body {
    position: relative;
    min-height: 100vh;
}

.s-bg {
    content: '';
    //opacity: 0.1;
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
    width: 100%; height: 100%;
    background-image: url($c-base-url + 'images/bg_photo2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.s-bg {
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
    width: 100%; height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
.s-introduction {
    max-width: $c-text-max-width;
    margin: 0 auto;
    font-size: 21px;
}

.s-contact {
    max-width: $c-text-max-width;
    margin: 0 auto;
    li {
        margin-bottom: 7px;
    }
}

.s-hours__list {
    display: flex;
    justify-content: center;
    flex-flow: column nowrap;
    @include breakpoint(tablet) {
        flex-flow: row nowrap;
    }
}

.s-hours__block {
    margin: 0 20px 20px 20px;
    @include breakpoint(tablet) {
        margin: 0 20px;
    }
    @include breakpoint(desktop) {
        margin: 0 30px;
    }
}

.s-hours__title {
    margin-bottom: 30px;
}

.s-hours__note {
    position: relative;
    display: inline-block;
    &:after {
        content: '*';
        position: absolute;
        top: -9px;
        right: -9px;
        font-size: 150%;
    }
}

.s-hours__notes {
    margin-top: 20px;
    @include breakpoint(tablet) {
        margin-top: 40px;
    }
}

.s-icon {
    margin-right: 6px;
}

.s-icon--facebook {
    width: 7px;
    height: 15px;
    background-image: url($c-base-url + 'images/facebook.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    display: inline-block;
    vertical-align: middle;
}
