.s-faq-list {
    box-shadow: 0 1px 4px rgba(0,0,0,0.14);
}

.s-faq-element {
    &.is-expanded {
        .s-faq__icon {
            &:before {
                opacity: 0;
            }
        }
        &:not(:last-child) {
            .s-faq__question,
            .s-faq__answer {
                border-bottom: 1px solid #f2f2f2;
            }
        }
    }
}

.s-faq__question {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    border-bottom: 1px solid #f2f2f2;
    &:hover {
        cursor: pointer;
    }
}

.s-faq__icon {
    width: 23px;
    height: 23px;
    &:before,
    &:after {
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        width: 90%;
        transform: translate(-50%, -50%);
        transition: opacity 350ms ease;
        border-bottom: 2px solid gold;
    }

    &:before {
        transform: translate(-50%, -50%) rotate(90deg);
    }
}

.s-faq__answer {
    height: 0;
    padding: 0;
    overflow: hidden;
    .inner {
        padding: 15px;
    }
}
