// Reset form styling
// --------------
.s-form__label {
    display: inline-block;
}

.s-form__input {
    display: block;
    width: 100%;
}
.s-form__textarea {
    resize: vertical;
}

// Custom styling
// --------------
.s-form {
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}
.s-form--default {
    .s-form-group {
        margin-bottom: 10px;
    }
    .s-form__input {
        padding: 10px;
        border: 1px solid rgb(200, 200, 200);
        outline: none;
        &:focus {
            border-color: rgb(150,150,150);
        }
    }
    .s-form__label {
        margin-bottom: 5px;
    }
    .s-form__textarea {
        min-height: 200px;
        height: 200px;
    }
    .s-btn {
        display: block;
        padding: 5px 10px;
        background: #fff;
        border: 1px solid rgb(200, 200, 200);
        @include on-event {
            border-color: rgb(150,150,150);
        }
    }
}
