/*
	CORPUS HEADER?
*/

.s-mobile-header{
	border-bottom: 1px solid black;
}
.s-mobile-header__logo{
	padding: 21px 0px;
	color: black;
	text-decoration: none;
	text-align: center;
	border-left: 1px solid black;
	border-right: 1px solid black;
	background-color: #f0f0f0;
}

.s-hamburger{
	background-color: transparent;
	width: 60px;
	height: 60px;
	border: 0;
	border-left: 1px solid black;
	outline: 0;
	padding: 12px;
}

.s-hamburger__content{
	height: 36px;
	span{
		left: 0;
		right: 0;
		height: 2px;
		background-color: black;
		&:nth-child(1){
			top: 9px;
		}
		&:nth-child(2){
			top: 50%;
			margin-top: -1px;
		}
		&:nth-child(3){
			bottom: 9px;
		}
	}
}

/*
	COMPONENT
*/

.s-mobilemenu--default{
	padding: 20px;
	border-bottom: 1px solid black;
	display: none;
	li{
		list-style:none;
		&:last-child{
			.c-mobile-menu__item{
				border: 0;
			}
		}
	}
}

.s-mobile-menu__item{
	padding: 15px 0px;
	border-bottom: 1px solid black;
	text-decoration: none;
	color: black;
}
